@model IEnumerable<AdaptiveLearningApplication.Models.Teacher>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeacherFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeacherID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeacherID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeacherID })
        </td>
    </tr>
}

</table>
