@model AdaptiveLearningApplication.Models.LoginModel

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@if (!Request.IsAuthenticated)
{
@*<ul class="nav navbar-nav  navbar-right custom_font">*@
    <li><a href="#faculty-sec">SIGNIN</a></li>
    <li><a href="#course-sec">SIGNUP</a></li>
@*    </ul><!--end-login-nav-->*@
    
}
else
{
    <li>@Html.ActionLink("ADMIN DASHBOARD", "AdminDashboard", "Home")</li>    
    <li><a><span class="glyphicon glyphicon-user"></span>&nbsp;WELCOME&nbsp;@User.Identity.Name.ToUpper()</a></li>
    <li style="margin-top:17px">@using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
        {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()" id="logout">LOG OUT</a>
        }

    </li>

    
   
}
@*@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@
