@model AdaptiveLearningApplication.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Student</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentFirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentLastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentLastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentGender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentGender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Course.CourseName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Course.CourseName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
