@model AdaptiveLearningApplication.Models.QuestionPoolModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>QuestionPoolModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question,new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question)
            @Html.ValidationMessageFor(model => model.Question,"",new { @class = "alert-danger" })
        </div>

        
        <div class="editor-label">
            @Html.LabelFor(model => model.Answer,new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Answer)
            @Html.ValidationMessageFor(model => model.Answer,"",new { @class = "alert-danger" })
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.OptionOne,new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OptionOne)
            @Html.ValidationMessageFor(model => model.OptionOne,"",new { @class = "alert-danger" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OptionTwo,new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OptionTwo,new { @class = "control-label" })
            @Html.ValidationMessageFor(model => model.OptionTwo,"",new { @class = "alert-danger" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OptionThree,new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OptionThree)
            @Html.ValidationMessageFor(model => model.OptionThree,"",new { @class = "alert-danger" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OptionFour,new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OptionFour)
            @Html.ValidationMessageFor(model => model.OptionFour,"",new { @class = "alert-danger" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DifficultyLevel,new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DifficultyLevel)
            @Html.ValidationMessageFor(model => model.DifficultyLevel,"",new { @class = "alert-danger" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuizID, "Quiz",new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @Html.DropDownList("QuizID", String.Empty)
            @Html.ValidationMessageFor(model => model.QuizID,"",new { @class = "alert-danger" })
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
