@model AdaptiveLearningApplication.Models.QuizModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset style="margin-top:25px;">
            <legend>Add Quiz</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.QuizName,new { @class = "control-label" })
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.QuizName)
                @Html.ValidationMessageFor(model => model.QuizName,"",new { @class = "alert-danger" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CreatedDate,new { @class = "control-label" })
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CreatedDate)
                @Html.ValidationMessageFor(model => model.CreatedDate,"",new { @class = "alert-danger" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.HighestMarks,new { @class = "control-label" })
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.HighestMarks)
                @Html.ValidationMessageFor(model => model.HighestMarks,"",new { @class = "alert-danger" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Duration,new { @class = "control-label" })
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Duration)
                @Html.ValidationMessageFor(model => model.Duration,"",new { @class = "alert-danger" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CreatedBy,new { @class = "control-label" })
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CreatedBy)
                @Html.ValidationMessageFor(model => model.CreatedBy,"",new { @class = "alert-danger" })
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.CourseID, "Courses")
            </div>
            <div class="editor-field">
                @Html.DropDownList("CourseID", String.Empty)
                @Html.ValidationMessageFor(model => model.CourseID)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
