@model AdaptiveLearningApplication.Models.QuizModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>QuizModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuizName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuizName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumberOfQuestions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberOfQuestions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HighestMarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HighestMarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.QuizID })
    @*@Html.ActionLink("Add Questions", "Create", "Question",new {id = Model.QuizID},new ) *@
    @Html.ActionLink("Back to List", "Index")
</p>
